body {
    margin: 0;
    min-height: 100%;
    background-color: #fff;
    font-family: 'Proximanova opt', sans-serif;
    color: #4c525a;
    font-size: 14px;
    line-height: 20px;
    font-weight: 400;
}

* {
    box-sizing: border-box;
}

/* Main Navigation Menu */

.navbar-main {
    position: sticky;
    left: 0;
    top: 0;
    right: 0;
    bottom: auto;
    z-index: 100000000;
    background-color: #fff;
    height: 78px;
}

.w-nav {
    position: relative;
    background: #ddd;
    z-index: 1000;
}
.main-navigation {
    margin-right: auto;
    margin-left: auto;
    padding: 12px 0;
    background-color: transparent;
}


.page-padding {
    padding-right: 2.5rem;
    padding-left: 2.5rem;
}

.container-large {
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
}

.main-nav-brand {
    top: 12px;
}

.w-nav-brand {
    position: relative;
    float: left;
    text-decoration: none;
    color: #333;
}
a {
    background-color: transparent;
    color: #00b289;
    text-decoration: none;
    cursor: pointer;
}

.main-navigation-menu {
    display: flex;
    width: 100%;
    max-width: 75%;
    justify-content: flex-end;
    align-items: center;
}

@media screen and (max-width: 1025px) {
    .main-navigation-menu {
        display: none;
    }
    
}

.w-nav-menu {
    position: relative;
    float: right;
}

img {
    border: 0;
    vertical-align: middle;
    display: inline-block;
    max-width: 100%;
}

.main-nav-left {
    display: flex;
    margin-right: 5%;
    justify-content: space-between;
}


.main-nav-link.relative {
    position: relative;
    cursor: pointer;
}
.relative {
    position: relative;
}
.main-nav-link {
    display: flex;
    margin-right: 40px;
    justify-content: space-between;
    align-items: center;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 22px;
}

.main-nav-dropdown-toggle {
    padding-right: 8px;
}

.main-nav-dropdown-toggle {
    display: flex;
    padding: 16px 12px 16px 0;
    justify-content: space-between;
    color: #4c4d5f;
    font-size: 17px;
    font-weight: 400;
}

.dropdown-arrow.no-margin-right {
    position: relative;
    margin-right: 0;
}

.dropdown-arrow {
    margin-right: 6px;
    background-position: 50% 50%;
    background-size: auto;
    background-repeat: no-repeat;
    color: transparent;
}
.w-icon-dropdown-toggle {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    margin: auto 20px auto auto;
    width: 1em;
    height: 1em;
}

.main-nav-link {
    display: flex;
    margin-right: 40px;   
    justify-content: space-between;
    align-items: center;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 22px;
}

.main-nav-right {
    display: flex;
    justify-content: flex-end;
    flex: 0 0 auto;
}

.nav-button.inverted {
    padding-right: 22px;
    padding-left: 22px;
    border: 1px solid #00b289;
    background-color: transparent;
    color: #00b289;
}

.w-button {
    display: inline-block;
    padding: 9px 15px;
    background-color: #3898ec;
    color: #fff;
    border: 0;
    line-height: inherit;
    text-decoration: none;
    cursor: pointer;
    border-radius: 0;
}

.nav-button {
    margin-left: 17px;
    padding: 12px 27px 9px;
    border: 1px solid #00b289;
    border-radius: 4px;
    background-color: #00b289;
    color: #fff;
    font-size: 13px;
    line-height: 16px;
    font-weight: 700;
    text-align: center;
    letter-spacing: .6px;
    text-transform: uppercase;
}


.w-nav-button {
    position: relative;
    float: right;
    padding: 18px;
    font-size: 24px;
    cursor: pointer;
    display: none;
}


@media screen and (max-width:1025px) {
    .w-nav-button {
        display: block;
    }
}

.menu-button-2 {
    width: 60px;
    height: 60px;
    background-color: transparent;
}

.line-1 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 35px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
}

.line-1.simple {
    top: 18px;
}

.line-1.simple.color {
    border-radius: 10px;
    background-color: #4c4d5f;
    color: #4c4d5f;
}


.line-2 { 
    position: absolute;
    left: 0;
    right: 0;
    z-index: 1;
    display: block;
    width: 35px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
}

.line-2.simple {
    top: 28px;
}

.line-2.simple.color {
    border-radius: 10px;
    background-color: #4c4d5f;
    color: #4c4d5f;
}

.line-3 {
    position: absolute;
    left: 0;
    right: 0;
    z-index: 2;
    display: block;
    width: 35px;
    height: 3px;
    margin-left: auto;
    margin-right: auto;
}

.line-3.simple {
    top: 38px;
}

.line-3.simple.color {
    border-radius: 10px;
    background-color: #4c4d5f;
    color: #4c4d5f;
}

/* Main Page Section */

.page-wrap {
    display: block;
    overflow: hidden;
    width: 100%;
}

.section-main.spacing-110-0-40-0 {
    padding-top: 110px;
    padding-bottom: 40px;
}

.section-main {
    position: relative;
}

.blue-shape._12 {
    top: -88%;
    right: -23%;
    width: 90%;
    height: 120%;
}

.blue-shape {
    position: absolute;
    left: 0;
    top: 0;
    right: auto;
    bottom: auto;
    z-index: -1;
    display: block;
    width: 56vw;
    height: 56vw;
    border-radius: 6.6vw;
    background-color: #f2faff;
    transform: rotate(-23deg);
}

.container-large {
    width: 100%;
    max-width: 70rem;
    margin-right: auto;
    margin-left: auto;
}


.left-content {
    position: relative;
    width: 45%;
    max-width: 36rem;
    margin-top: 3%;
    padding-right: 3%;
}

.left-content.pricing-plans {

    display: flex;
    width: 100%;
    margin-top: 4%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 0; 
    justify-content: space-between;
    align-items: center;
}

@media screen and (max-width: 1025px) {
    .left-content.pricing-plans{
        width: 100%;
        margin-top: 0;
        padding-right: 0;
    }
}

@media screen and (max-width: 664px) {
    .left-content.pricing-plans{
        flex-wrap: wrap;
    }
}

.margin-bottom {
    margin-top: 0;
    margin-right: 0;
    margin-left: 0;
}

.margin-medium {
    margin: .9375rem;
}

.heading-large-40.amerigo {
    font-weight: 400;
}

.amerigo {
    font-family: 'Amerigo-bt roman opt', sans-serif;
}

.heading-large-40 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.5rem;
    line-height: 120%;
    font-weight: 700;
}

@media screen and (max-width: 664px) {
    .heading-large-40 {
        font-size: 1.5rem;
    }
}


.toggle-holder {
    position: relative;
    display: flex;
    align-items: center;
}

@media screen and (max-width: 664px) {
    .toggle-holder {
        margin-top: 60px;
        justify-content: flex-end;
        width: 100%;
        
    }
}

@media screen and (max-width: 555px) {
    .toggle-holder {
        margin-top: 50px;
        justify-content: center;

    }
}

.monthly-text {
    font-size: 17px;
    font-weight: 600;
    letter-spacing: 1.22px;
    text-transform: uppercase;
}

.toggle {

    display: flex;
    width: 50px;
    height: 29px;
    margin-right: 28px;
    margin-left: 28px;
    padding-right: 0;
    padding-left: 0;
    align-items: center;
    border-radius: 200px;
    background-color: #01b289;
    cursor: pointer;
}

.toggle-ball {
    width: 25px;
    height: 25px;
    margin-right: 2px;
    margin-left: 2px;
    border-radius: 200px;
    background-color: #fff;
}

.z-index-2 {
    position: relative;
    z-index: 2;
}

.yearly-text {
    opacity: .65;
    color: #4c4d5f;
    font-size: 16px;
    font-weight: 600;
    letter-spacing: 1.22px;
    text-transform: uppercase;
}

.offer-img {
    position: absolute;
    left: auto;
    right: -9%;
    bottom: 15px;
}

@media screen and (max-width: 664px) {
    .offer-img {
        right: -4%;
    }
}

@media screen and (max-width: 555px) {
    .offer-img {
        right: -1%;
    }
}


.pricing-monthly {
    display: flex;
    padding-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.pricing-yearly {
    display: none;
    padding-top: 40px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.plan-container {
    position: relative;
    display: flex;
    overflow: hidden;
    width: 32%;
    padding: 6% 4%;
    flex-direction: column;
    border: .3px solid rgba(2, 4, 69, .15);
    border-radius: 4px;
    background-color: #fbfcff;
    box-shadow: 0 0 68px 0 rgba(2, 4, 69, .08);
}

@media screen and (max-width:1025px) {
    .plan-container {
        width: 100%;
        margin-bottom: 30px;
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

.text-weight-semibold {
    font-weight: 600;
}
.heading-medium-26 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.625rem;
    line-height: 1.4;
    font-weight: 700;
}

.max-width-90 {
    max-width: 90%;
}

.price-box {
    width: 100%;
    margin-top: 20px;
    border-bottom: 2px solid #01b289;
}

.price {
    display: flex;
    align-items: flex-end;
    font-size: 62px;
    line-height: 72px;
    font-weight: 600;
}

.currency-symbol {
    position: relative;
    top: 10px;
    margin-right: 10px;
    align-self: flex-start;
    font-size: 30px;
    line-height: 28px;
    font-weight: 400;
}

.text-capitalize {
    text-transform: uppercase;
}

.text-weight-normal {
    font-weight: 400;
}
.heading-medium-26 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.625rem;
    line-height: 1.4;
    font-weight: 700;
}
.margin-left {
    margin-top: 0;
    margin-right: 0;
    margin-bottom: 0;
}
.margin-medium {
    margin: .9375rem;
}

.plan-features-container {
    margin-bottom: 25px;
    padding-top: 40px;
}

.tick {
    display: flex;
    padding-bottom: 18px;
    align-items: center;
    color: #4c4d5f;
    font-size: 16px;
    line-height: 23px;
}

.popular-tag {
    position: absolute;
    left: auto;
    top: 50px;
    right: -109px;
    bottom: auto;
    width: 360px;
    padding: 11px 100px;
    background-color: #01b289;
    transform: rotate(45deg);
    color: #fff;
    font-size: 18px;
    font-weight: 600;
    text-align: center;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.margin-right {
    margin-top: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.margin-small {
    margin: .625rem;
}

.margin-xxhuge {
    margin: 5rem;
}

.margin-top {
    margin-right: 0;
    margin-bottom: 0;
    margin-left: 0;
}

.margin-top.auto {
    margin-top: auto;
}
.wide-cta {
    width: 100%;
    padding: 22px 25px;
    border-radius: 4px;
    background-color: #00b289;
    font-weight: 700;
    text-align: center;
    letter-spacing: .7px;
    text-decoration: none;
    text-transform: uppercase;
}

.max-width-full {
    width: 100%;
    max-width: none;
}


.margin-box._20-0-40-0 {
    margin-top: 20px;
    margin-bottom: 40px;
}

.add-on-box.smaller {
    margin-bottom: 10px;
    padding: 10px 40px 5px;
}

.add-on-box {
    display: flex;
    margin-bottom: 20px;
    padding: 30px 40px 25px;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 60px 0 rgba(2, 4, 69, .05);
}
@media screen and (max-width: 820px) {
    .add-on-box {
        flex-direction: column-reverse;
        flex-wrap: wrap;
        align-items: flex-start;
        align-content: flex-start;
    }
}

@media screen and (max-width: 820px) {
    .add-on-box.smaller {
        padding-top: 20px;
        padding-bottom: 20px;
    }
}

.heading-large-32.amerigo {
    font-weight: 400;
}

.amerigo {
    font-family: 'Amerigo-bt roman opt', sans-serif;
}
.text-align-center {
    text-align: center;
}


.heading-large-32 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 140%;
    font-weight: 700;
}

.text-size-regular {
    font-size: 1rem;
}

.text-weight-light {
    font-weight: 300;
}

.right-add-on-content {
    width: 20%;
    padding-top: 36px;
    padding-bottom: 36px;
}

@media screen and (max-width: 820px) {
    .right-add-on-content {
        padding-top: 15px;
        padding-bottom: 15px;
        width: 4rem;
    }
}

.left-add-on-content {
    width: 80%;
    max-width: 600px;
}


@media screen and (max-width: 820px) {
    .left-add-on-content {
        width: 100%;
    }
}

.heading-large-32 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2rem;
    line-height: 140%;
    font-weight: 700;
}

@media screen and (max-width:820px) {
    .heading-large-32{
        font-size: 1.5rem;
    }
}

.heading-small-22.text-weight-semibold {
    font-weight: 600;
}

.heading-small-22 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.375rem;
    line-height: 1.4;
    font-weight: 700;
}

@media screen and (max-width: 975px) {
    .heading-small-22 {
        font-size: 1rem;
    }
}

.heading-xlarge-44 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 2.75rem;
    line-height: 130%;
}

@media screen and (max-width: 820px) {
    .heading-xlarge-44 {
        font-size: 2.5rem;
    }
}

.cta-div {
    display: flex;
    padding: 4rem 3rem;
    justify-content: space-between;
    align-items: center;
    border-radius: 8px;
    background-color: #f2faff;
}

@media screen and (max-width: 1025px) {
    .cta-div {
        position: relative;
        z-index: 1;
        padding: 3rem 2rem;
        flex-wrap: wrap;
        text-align: center;
    }
}

@media screen and (max-width: 643px) {
    .cta-div {
        padding: 40px 15px 50px;
        justify-content: center;
    }
}

.container-medium {
    width: 100%;
    max-width: 58rem;
    margin-right: auto;
    margin-left: auto;
}

.flex-left {
    width: 50%;
}

.flex-left.width-70 {
    width: 70%;
}


.text-color-green {
    color: #00b289;
}

.button-main {
    display: inline-block;
    width: auto;
    padding: 15px 25px 13px;
    border-radius: 4px;
    background-image: linear-gradient(190deg, #00b289, #00a881);
    transition: background-color .4s;
    text-align: center;
    letter-spacing: .07em;
    text-transform: uppercase;
}



.margin-vertical {
    margin-right: 0;
    margin-left: 0;
}

.margin-huge {
    margin: 2.5rem;
}

.accordion.pricingpage {
    margin-right: 9%;
    margin-left: 9%;
}

.accordion {
    background-image: url(/images/down-arrow.png);
    background-position: 100% 50%;
    background-size: auto 20px;
    background-repeat: no-repeat;
    background-attachment: scroll;
    font-size: 25px;
    line-height: 30px;
    cursor: pointer;
}

@media screen and (max-width: 975px) {
    .accordion {
        text-align: left;
    }
}

@media screen and (max-width: 593px) {
    .accordion.pricingpage {
        margin-right: 20px;
        padding-right: 20px;
    }
}

.panel.pricingpage {
    display: none;
    margin-right: 9%;
    margin-left: 9%;
}

.panel {
    display: none;
}

p {
    margin-top: 0;
    margin-bottom: 10px;
    color: #4c4d5f;
    font-size: 16px;
    line-height: 28px;
    text-decoration: none;
}

/* Footer Section */

.footer-section {
    padding: 100px 16% 96px;
}

.footer-link-holder {
    display: flex;
    max-width: 1220px;
    margin-right: auto;
    margin-left: auto;   
    justify-content: space-between;
}

@media screen and (max-width: 977px) {
    .footer-link-holder {
        flex-wrap: wrap;
    }
}

.footer-block {
    width: 30%;
}

@media screen and (max-width: 977px) {
    .footer-block {
        display: flex;
        width: 35%;
        margin-top: 20px;
        justify-content: space-around;
        flex-direction: column;
    }
}

@media screen and (max-width: 835px) {
    .footer-block {
        width: 100%;
    }
}


.footer-title {
    margin-bottom: 40px;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 24px;
    font-weight: 600;
    letter-spacing: .12px;
    text-transform: uppercase;
}


.footer-section-block {
    display: flex;
    margin-bottom: 25px;
    flex-direction: column;
    align-items: flex-start;
}

.footer-link {
    margin-bottom: 1px;
    color: #4c4d5f;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: .11px;
    text-decoration: none;
}

.sub-title {
    margin-bottom: 10px;
    color: #4c4d5f;
    font-size: 17px;
    line-height: 22px;
    font-weight: 600;
    letter-spacing: .11px;
}

.dropdown-footer-line {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.footer-link.dropdown {
    display: block;
    margin-right: 0;
    margin-left: 8px;
}

.footer-link {
    margin-bottom: 1px;
    color: #4c4d5f;
    font-size: 16px;
    line-height: 30px;
    font-weight: 300;
    letter-spacing: .11px;
    text-decoration: none;
}
.dropdown {
    margin-right: 20px;
    color: #4c4d5f;
    font-size: 18px;
    line-height: 22px;
    font-weight: 600;
}


.dropdown-footer-trigger {
    height: 12px;
    width: 12px;
}

.dropdown-footer-list {
    display: none;
}